@model RentACar.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vechicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vechicle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VechicleVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VechicleVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WheelDrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WheelDrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odometer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odometer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxMileageatDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxMileageatDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VinNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VinNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InRepair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InRepair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentFuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentFuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelRate)
        </dd>
    </dl>
</div>
<div>
    @if (User.HasClaim("Admin", bool.TrueString))
    {
        <div>

            <form asp-action="AddPictureToCar" asp-route-id="@Model.ID" asp-controller="PictureModels" method="post" enctype="multipart/form-data">
                <input type="file" name="uploadedFile" /><br>
                <input type="submit" value="Add Picture To Car" />
            </form>
        </div>
        <p></p>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-danger">Изменить</a> |
            <a asp-action="Index" class="btn btn-secondary">Отмена</a>
        </div>
    }
    @if (User.HasClaim("Admin", bool.TrueString))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
