@model IEnumerable<RentACar.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Выбери свой автомобиль</h1>


<table class="table" style="text-align:center;vertical-align:middle" >
    <thead >
        <tr>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Pictures.FirstOrDefault() != null)
                {
                <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="@Url.Content(item.Pictures.FirstOrDefault().Path)" data-holder-rendered="true">
                }
                else
                {
                <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="~/images/140X140.gif" data-holder-rendered="true">
                }
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="vertical-align:middle">
                <a asp-action="Details" asp-route-id="@item.ID">Все характеристики</a>    

                <a class="btn btn-primary" asp-controller="Feedbacks" asp-action="Create">Заказать</a>
            </td>
        </tr>
}
    </tbody>
</table>
